
#container{
    width: 80%;
    text-align: center;
    border: 1px solid red;
    border-radius: 12px;
    padding: 15px;
    margin: auto;
}

h1{
    color: rgb(0, 140, 255);
}
#temperature{
    margin: 12px;
    height: 30px;
    width: 60%;
    border-radius: 6px;
    font-size: 18px;
}

#convert{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(0, 102, 255);
    color: white;
    border-radius: 6px;
    margin: 8px;
}

#convert:hover{
    background-color: rgb(0, 132, 255);
    font-weight: bold;
}

#result{
    font-weight: bold;
    font-size: 18px;
}